---
import type { ContentEntryType } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

import Page from "../layouts/default.astro";

export interface Props {
  post: CollectionEntry<'post'>;
}

export async function getStaticPaths() {
  const allPosts = await getCollection("post");
  return allPosts.map((post) => {
    const slug = post.slug;
    return {
      params: { slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

const postData = post?.data;
const { Content } = await post.render();
---

<Page>
  <title slot="head">{postData?.title} - luckydye</title>
  <meta slot="head" name="description" content={postData?.description} />

  <div class="container my-40 text-lg font-normal">
    <h1 class="my-2 mb-5 text-4xl">{postData?.title}</h1>

    <div class="flex gap-2 items-center mb-10 text-sm text-zinc-400">
      {
        postData.tags
          ? postData.tags.map((tag) => {
              return <div class="rounded-md bg-zinc-800 inline-block px-2 py-1">{tag}</div>;
            })
          : null
      }
    </div>

    <div class="flex justify-between text-base opacity-50 pb-10">
      <div>
        by <a class="underline" href="/">{postData.author}</a>
      </div>
      <div>
        {postData?.date.toLocaleDateString()}
      </div>
    </div>

    <div class="content">
      <Content />
    </div>
  </div>
</Page>
