---
import "../styles/global.css";

import { getEntry, getEntries, getCollection } from "astro:content";

import Intro from "../components/Intro.astro";
import Project from "../components/Project.astro";
import Terminal from "../components/Terminal.astro";
import Link from "../components/Link.astro";
import Gallary from "../components/Gallary.astro";

const posts = await getCollection("post");
const projects = await getCollection("project");
const links = await getCollection("link");
const gallaries = await getCollection("gallary");

console.log(posts);
console.log(projects);
console.log(links);
console.log(gallaries);
---

<html lang="en">
	<head>
		<title>luckydye</title>
		<meta name="description" content="My homepage." />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />

		<script
			defer
			data-domain="luckydye.dev"
			src="https://collect.luckydye.de/js/script.js"></script>
	</head>

	<body>
		<main>
			<div class="container">
				<Intro />
			</div>

			<div class="container">
				<Project {...projects[0].data} />
			</div>

			<div class="container">
				<Link {...links[0].data} />
			</div>

			<div class="container">
				{JSON.stringify(links[0])}
			</div>

			<div class="container">
				{JSON.stringify(posts[0])}
			</div>

			<div class="container">
				{JSON.stringify(links[1])}
			</div>

			<div class="container">
				<Gallary images={gallaries[0].data.images} />
				<Gallary images={gallaries[1].data.images} />
			</div>

			<div class="container">
				{JSON.stringify(posts[1])}
			</div>

			<div class="container">
				<Gallary images={gallaries[2].data.images} />
			</div>

			<!-- <div class="container">
				<Socials />
			</div> -->

			<!-- <div class="container">
				<Project />
			</div>

			<div class="container">
				<Post />
			</div>

			<div class="container">
				<Projects />
			</div>

			<div class="container">
				<h2>Github</h2>
			</div> -->

			<div class="container">
				<Terminal />
			</div>
		</main>
	</body>
</html>

<style>
	.card {
		background: var(--color-bg-1);
	}

	main {
		z-index: 10;
		position: relative;
		max-width: 1200px;
		margin: auto;
	}

	.container {
		padding: 0 20px;
		position: relative;
	}
</style>
