---
import type { CollectionEntry } from "astro:content";
import Images from "./Images.astro";
import Teaser from "./Teaser.astro";
import Project from "./Project.astro";
import { getPostType } from "../utils.ts";

interface Props {
  post: CollectionEntry<"post">;
}

const props = Astro.props;
const type = getPostType(props.post);
---
<div data-slug={props.post.id}>
  {type === 'images' && <Images title={props.post.data.description} date={props.post.data.date} images={props.post.data.images} /> }
  {type === "teaser" && <Teaser post={props.post} />}
  {type === "project" && <Project post={props.post} />}
</div>
