---
import { type CollectionEntry } from "astro:content";
import Images from "./Images.astro";
import Teaser from "./Teaser.astro";
import Project from "./Project.astro";

interface Props {
  post: CollectionEntry<'post'>;
}

function getPostType(post: CollectionEntry<'post'>) {
  if((post.data.images?.length || 0) > 1) {
    return 'images';
  }
  if(post.data.tags?.includes('project')) {
    return 'project';
  }
  return "teaser";
}

const { post } = Astro.props;
const type = getPostType(post);
---
<div data-slug={post.slug} class="pb-20">
  {type === 'images' && <Images title={post.data.description} date={post.data.date} images={post.data.images} /> }
  {type === "teaser" && <Teaser post={post} />}
  {type === "project" && <Project post={post} />}
</div>
