---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import ExternalLinkIcon from "../assets/external-link.svg";

interface Props {
  post: CollectionEntry<'post'>;
}

const { post } = Astro.props;
---

<a href={post.data.link} target="_blank" class="block my-10">
  <div class="card">
    <div class="background">
      {post.data.images?.[0] ?
        <img
          loading="eager"
          class="background-image"
          src={post.data.images[0].src}
          width={269}
          height={269}
          alt={post.data.title}
        />
        : null}
    </div>
    <div class="caption py-10 pr-4">
      <h2 class="headline-accent">{post.data.title}</h2>
      <hr />
      <div class="description">{post.data.description}</div>
    </div>
  </div>
</a>

<style>
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    border: 1px solid var(--color-bg-1);
    border-radius: 8px;
    background: var(--color-bg-1);
    position: relative;
    width: 100%;
  }
  .card:hover .background-image {
    transform: scale(1.015);
  }
  .caption {
    box-sizing: border-box;
    position: relative;
    z-index: 100;
  }
  .description {
    min-height: 100px;
  }
  .background-image {
    transition: transform 0.33s ease;
    display: block;
    object-fit: cover;
    height: 100%;
  }
  .background::after {
    pointer-events: none;
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      -25deg,
      rgba(30, 30, 32, 1) 10%,
      rgba(30, 30, 32, 0.7694),
      rgba(30, 30, 32, 0)
    );
  }
  h2 {
    margin: 0;
  }
  hr {
    margin-right: 40%;
  }
</style>
