---
import { type CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<'post'>;
}

const { post } = Astro.props;
---

<!-- <div class="post my-20 mx-4">
  <a href={`${post.data.link}`}>
    <h2 class="mt-2">{post.data.title}</h2>
  </a>
  <p>{post.data.description}</p>
</div>

<style>
  .post {
    border-radius: 8px;
    background: var(--color-bg-1);
    padding: 20px 40px;
    border: 1px solid var(--color-fg-1);
  }
  .date {
    opacity: 0.5;
    font-weight: 400;
  }
</style> -->

<div class="py-10 my-20 rounded-md">
  <a class="block py-2" href={`/${post.slug}`}>
    <h2 class="pb-2 text-3xl font-normal">{post.data.title}</h2>
  </a>
  <div class="flex gap-2 items-center">
    <div class="rounded-md bg-zinc-800 inline-block px-2 py-1">Post</div>
    <div class="opacity-75">{post.data.date?.toLocaleDateString()}</div>
  </div>
  <div class="py-2">
    <p>{post.data.description}</p>
  </div>
</div>

<style>
  .date {
    opacity: 0.5;
    font-weight: 400;
  }
</style>
