---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
---

<div class="teaser relative pl-10 px-2 grid grid-cols-[1fr] md:grid-cols-[auto_1fr] gap-10">
  {post.data.images?.[0] ?
    <div>
      <img
        loading="eager"
        class="background-image"
        src={post.data.images[0].src}
        width={380}
        height={380}
        alt={post.data.title}
      />
    </div>
  : null}
  <div class="py-2">
    <a class="block py-2" href={`/${post.id}`} style="text-decoration: none;">
      <h2 class="pb-2 text-3xl font-normal hover:underline">{post.data.title}</h2>
    </a>
    <div class="flex flex-wrap gap-2 items-center">

      {
        post.data.tags
          ? post.data.tags.map((tag) => {
              return <div class="capitalize text-sm rounded-md bg-zinc-800 opacity-70 inline-block px-2 py-1">{tag}</div>;
            })
          : null
      }

      <div class="text-base opacity-75">{post.data.date?.toLocaleDateString()}</div>
    </div>
    <div class="text-lg">
      <p>{post.data.description}</p>
    </div>
  </div>
</div>

<style>
  .teaser::before {
    content: "";
    display: block;
    position: absolute;
    left: 8px;
    top: 0px;
    width: 1px;
    height: 100%;
    background: var(--color-fg-1);
  }
</style>
