---
import { type CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<'post'>;
}

const { post } = Astro.props;
---

<div class="px-2 grid grid-cols-[1fr] md:grid-cols-[auto_1fr] gap-10">
  {post.data.images?.[0] ?
    <div>
      <img
        loading="eager"
        class="background-image"
        src={post.data.images[0].src}
        width={380}
        height={380}
        alt={post.data.title}
      />
    </div>
  : null}
  <div class="py-2">
    <a class="block py-2" href={`/${post.slug}`}>
      <h2 class="pb-2 text-3xl font-normal">{post.data.title}</h2>
    </a>
    <div class="flex gap-2 items-center">
      <div class="rounded-md bg-zinc-800 inline-block px-2 py-1">Post</div>
      <div class="opacity-75">{post.data.date?.toLocaleDateString()}</div>
    </div>
    <div class="py-2 text-lg">
      <p>{post.data.description}</p>
    </div>
  </div>
</div>

<style>
  .date {
    opacity: 0.5;
    font-weight: 400;
  }
</style>
