---
import "../style/global.css";
import "../style/main.css";
import "../style/images.css";
import "../style/teaser.css";
import "../style/project.css";

import "@fontsource/quicksand/300.css";
import "@fontsource/quicksand/600.css";
import "@fontsource/lato";

import Link from "../components/Link.astro";

import { svg } from "svg-sprites/sheet";

export type Props = {
  meta: {
    title: string;
    description?: string;
    image?: string;
  };
};

const props = Astro.props;
---

<script>
import "../components/SvgIcon.js";
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#1e1e20">

    <title>{props.meta?.title}</title>

    {
      props.meta?.description ? (
        <meta name="description" content={props.meta?.description} />
      ) : null
    }

    <meta property="og:title" content={props.meta?.title} />
    <meta property="og:description" content={props.meta?.description} />

    {
      props.meta?.image ? (
        <meta property="og:image" content={Astro.site + props.meta.image} />
      ) : null
    }

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />

    <slot name="head" />
  </head>

  <body>
    <div class="hidden" set:html={await svg()}></div>

    <main class="overflow-hidden lg:overflow-visible max-w-[1250px] mx-auto px-8">
      <slot name="main" />
    </main>

    <footer class="pb-40 pt-20 max-w-[1250px] mx-auto px-8">
      <div class="container pt-10 pb-20">
        <h2 class="font-headline mb-4 text-2xl">Connect</h2>
        <div class="mb-1">
          <Link link="twitter">@timh4v</Link>
        </div>
        <div class="mb-1">
          <Link link="mail">tim.h4vlicek@gmail.com</Link>
        </div>
      </div>
    </footer>

    <script is:inline>
      fetch("https://analytics.luckydye.de/", { method: "POST", body: `event_pageview,host=${location.host},path=${location.pathname} load=${performance.now()} ${Date.now() * 1000 * 1000}` })
    </script>
  </body>
</html>
